<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ECE444 PRA3{% endblock %}</title>
    {{ bootstrap.load_css() }}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">ECE444 PRA3</a>
        <div class="navbar-nav">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-link" href="{{ url_for('user', name='Shehryar') }}">User</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

{{ bootstrap.load_js() }}
{{ moment.include_moment() }}
</body>
</html>
