{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}

    <h1>Hello {{ name or 'Stranger' }}!</h1>
        {% if email %}
            <p>Your email address is {{ email }}.</p>
        {% endif %}
    <p>The local date and time is {{ moment(current_time).format('LLLL') }}.</p>

    {{ render_form(form) }}
{% endblock %}
